@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 19, 22, 30;
  --background-start-rgb: 19, 22, 30;
  --background-end-rgb: 19, 22, 30;
}

body {
  @apply m-0
  h-screen;
}

.box {
  margin: 0;
  pointer-events: auto;
  position: relative;
}

.box::before {
  background: radial-gradient(
    300px circle at var(--x) var(--y),
    rgba(255, 255, 255, 0.2),
    transparent 40%
  );
  border-radius: inherit;
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 2;
  opacity: 1;
}
