@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 19, 22, 30;
  --background-start-rgb: 19, 22, 30;
  --background-end-rgb: 19, 22, 30;
}

body {
  @apply m-0
  h-screen;
}

.testing {
  width: 100%;
  height: 100%;
  margin: 0;
  pointer-events: auto;
}

/* .testing::before {
  background: radial-gradient(
    600px circle at var(--x) var(--y),
    rgba(255, 255, 255, 0.1),
    transparent 40%
  );
  border-radius: inherit;
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 2;
} */
