@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 19, 22, 30;
  --background-start-rgb: 19, 22, 30;
  --background-end-rgb: 19, 22, 30;
}

body {
  @apply m-0
  h-screen;
}

.testing {
  width: 100%;
  height: 100%;
  margin: 0;
  pointer-events: auto;
}
